{% extends 'blog/base.html' %}
{% load static %}


                        {% block content %}

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
                <img src="{%static 'images/image2.jpg'%}"  alt="pic" class="im1">
                <br>
                <br>
                <br>
                <h1>Salut et Bienvenue à Connect 237!!</h1>
                <p>Cette plateforme permet de rechercher des Designers et des Developpeurs selon le Profil adéquat à vos besoins!</p>
            </div>

                        <!--debut sidebar-->

            <div class="col-md-4 mt-5">
              <div class="content-section">
                <h3>Acces rapide</h3>
                <p class='text-muted'>Trouvez rapidement la personne adéquate à votre besoin!
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{% url 'dev_web' %}">Developpeurs Web</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'dev_mobile' %}">Developpeurs mobiles</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'designer' %}">Designers graphiques</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        Featured
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        Featured
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
   {% endblock %}
